<footer>
  <section>
    <a href="mailto:teodor.knutsen@gmail.com">
      <img src="/img/icons/mail.png" alt="" />
      teodor.knutsen@gmail.com</a
    >
    <a href="https://www.instagram.com/tfknutsen/">
      <img src="/img/icons/instagram.png" alt="" />
      instagram</a
    >
  </section>
  <h5>&copy; 2025 Teodor</h5>
</footer>
