<footer>
  <section>
    <a href="mailto:teodor.knutsen@gmail.com">teodor.knutsen@gmail.com</a>
    <a href="https://www.instagram.com/tfknutsen/">instagram</a>
  </section>
  <h5>&copy; 2025 Teodor</h5>
</footer>
