<header>
  <h1><%= title %></h1>
  <div class="navBar">
    <p>Laget av Teodor</p>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/vm">VM</a></li>
        <li><a href="/ubuntu">Ubuntu</a></li>
        <li><a href="/nginx">Nginx</a></li>
      </ul>
    </nav>
  </div>
  <hr />
</header>
