<header>
  <h1><%= title %></h1>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/vm">VM</a>
    <a href="/ubuntu">Ubuntu</a>
    <a href="/node">Node</a>
    <a href="/begrep">Begreper</a>
  </div>
  <hr />
</header>
