<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guide | <%= title %></title>
    <link rel="stylesheet" href="/styler.css" />
  </head>
  <header><h1><%= title %></h1></header>
  <body>
    <h2>Guide</h2>
  </body>
</html>
