<html lang="en">
  <%- include('./partials/head.ejs') %> <%- include('./partials/header.ejs') %>
  <body>
    <main>
      <section class="img">
        <a href="/vm"><img src="/img/icons/proxmox.png" alt="" /></a>
        <h2>VM</h2>
      </section>
      <section class="img">
        <a href="/ubuntu"><img src="/img/icons/Ubuntu.png" alt="" /></a>
        <h2>Ubuntu</h2>
      </section>
      <section class="img">
        <a href="/node"><img src="/img/icons/node-js.webp" alt="" /></a>
        <h2>Node</h2>
      </section>
    </main>
  </body>
</html>
