<%- include('./partials/head.ejs') %> <%- include('./partials/header.ejs') %>
<body>
  <section class="links">
    <h2>Node</h2>
    <section class="row">
      <a href="/node-local">
        <img src="img/icons/Two-gear-icon.png" alt="" />Node for å utvikle
      </a>
      <a href="/node-vm">
        <img
          src="
        img/icons/vm-icon.webp"
          alt=""
        />Node på VM
      </a>
    </section>
  </section>
</body>
