<%- include('./partials/head.ejs') %> <%- include('./partials/header.ejs') %>
<body>
  <section class="guide">
    <div>
      <h2>Fikse Ubuntu</h2>
      <img src="/img/Ubuntu/stage (9).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (10).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (11).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (12).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (13).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (14).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (15).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (16).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (17).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (18).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (19).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (20).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (21).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (22).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (23).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (24).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (25).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (26).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (27).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (28).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (29).png" alt="" />
      <p></p>
      <img src="/img/Ubuntu/stage (30).png" alt="" />
      <p></p>
    </div>
  </section>
</body>
<%- include('./partials/footer.ejs') %>
