<%- include('./partials/head.ejs') %> <%- include('./partials/header.ejs') %>
<body>
  <section class="guide">
    <div>
      <h2>Sette opp VM</h2>
      <p>
        En virtuell maskin er en datamaskin som kjører inni en annen datamaskin.
        Den oppfører seg som en egen PC med eget operativsystem, egne filer og
        egne innstillinger. VM brukes ofte til testing, læring og serverdrift
        fordi du kan kjøre flere systemer samtidig uten å påvirke hovedmaskinen.
        Hvis noe går galt i en VM, skader det ikke resten av systemet.
      </p>
      <hr />
      <p>
        For å sette opp en virtuell maskin i Proxmox begynner du med å åpne
        nettleseren og gå til adressen 10.10.1.100:8006. Nettleseren vil
        sannsynligvis advare om at siden er usikker, men du kan gå videre ved å
        åpne avanserte innstillinger og velge fortsett til siden.
      </p>
      <img src="/img/VM/stage (1).png" alt="" />
      <p>
        Logg inn med brukernavn og passord. Etter innlogging ser du oversikten
        over virtuelle maskiner. Hvis du ikke har noen fra før, er det helt
        normalt. Øverst til høyre finner du en blå knapp som heter Create VM.
        Pass på at du ikke trykker på Create CT.
      </p>
      <img src="/img/VM/stage (2).png" alt="" />
      <p>
        Når du åpner Create VM, får du opp et nytt vindu. Under Resource Pool
        finner du en boks for å velge pool. Velg poolen du tilhører. Jeg bruker
        for eksempel 05-pool-computer.
      </p>
      <img src="/img/VM/stage (3).png" alt="" />
      <p>
        I feltet for Node skal du velge pve-backend. Det står vanligvis allerede
        riktig, men hvis ikke velger du pve-backend manuelt.
      </p>
      <img src="/img/VM/stage (4.1).png" alt="" />
      <p>
        Deretter må du velge et VM ID. Det er lurt å følge en struktur. Jeg
        valgte 506 fordi jeg er i pool 5 og dette var min sjette VM.
      </p>
      <section class="row">
        <img src="/img/VM/stage (4).png" alt="" />
        <img src="/img/VM/stage (4.2).png" alt="" />
      </section>
      <p>
        Gi VM-en et navn. Det er nyttig å velge et navn som beskriver hva VM-en
        skal brukes til. I dette eksempelet brukte jeg navnet computer-guide.
      </p>
      <img src="/img/VM/stage (4.3).png" alt="" />
      <p>
        Før du går videre kan det være greit å åpne Advanced-knappen nederst til
        høyre og sjekke innstillingene der.
      </p>
      <img src="/img/VM/stage (4.4).png" alt="" />
      <p>
        Gå videre til OS-fanen. Her trenger du bare å velge Ubuntu som ISO image
        slik at VM kan installere Linux.
      </p>
      <img src="/img/VM/stage (5).png" alt="" />
      <p>
        Bytt deretter til Disk-fanen og sett diskstørrelsen til 32 GiB hvis den
        ikke allerede står på det.
      </p>
      <img src="/img/VM/stage (5.1).png" alt="" />
      <p>
        Fortsett til CPU-fanen. Her kan du ha maks 4 sockets, og med 4 sockets
        kan du velge opptil 8 kjerner
      </p>
      <img src="/img/VM/stage (6).png" alt="" />
      <p>
        Gå så til Memory-fanen. Under Memory (MiB) kan du velge rundt 8000. Jeg
        valgte 8192. Under Minimum memory (MiB) kan du sette omtrent halvparten.
      </p>
      <img src="/img/VM/stage (7).png" alt="" />
      <p>I Network-fanen trenger du ikke å endre noe. Trykk videre på Next.</p>
      <img src="/img/VM/stage (7.1).png" alt="" />
      <p>
        Til slutt kommer du til Confirm-fanen, der du kan se en oversikt over
        alle valgene dine. For å opprette VM-en klikker du Finish nederst til
        høyre.
      </p>
      <img src="/img/VM/stage (7.2).png" alt="" />
      <p>
        Når VM-en er opprettet, dukker den opp i listen til venstre. Velg VM-en,
        for eksempel 506(teodor-guide). I menyen til høyre velger du Console.
        Der finner du en knapp som heter Start now. Trykk på den for å starte
        VM-en.
      </p>
      <img src="/img/VM/stage (8).png" alt="" />
      <p>
        Hvis du vil lære hvordan du setter opp Ubuntu inne i VM-en, kan du gå
        videre til Ubuntu-installasjonen.
      </p>
    </div>
  </section>
</body>
<%- include('./partials/footer.ejs') %>
