<%- include('./partials/head.ejs') %> <%- include('./partials/header.ejs') %>
<body>
  <section>
    <div>
      <h2>Sette opp VM</h2>
      <p>
        For å sette opp en VM må du først gå in på Proxmoxen. Du kan skrive inn
        ip adressen
      </p>
      <img src="/img/stage (1).png" alt="" />
      <p></p>
      <img src="/img/stage (2).png" alt="" />
    </div>
  </section>
</body>
