body {
  font-family: Arial;
  background-image: linear-gradient(
    to bottom left,
    var(--second-color),
    #8aade6
  );
  margin: 0;
}
hr {
  background-color: var(--main-color);
  height: 0.3vh;
  border-radius: 0.2vh;
  border: none;
}
header h1 {
  margin: 0;
  padding-left: 3vh;
  padding-top: 3vh;
}
.navbar {
  display: flex;
  justify-content: right;
  margin-right: 3vw;
  gap: 2vw;
}
.navbar a {
  transition-duration: 500ms;
  font-size: large;
  color: var(--main-color);
}
.navbar a:hover {
  font-size: 1.5rem;
  color: var(--main-color);
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 9vw;
  text-align: center;
}
.img img {
  transition-duration: 500ms;
  margin-top: 10vh;
  max-width: 15vw;
}
.img img:hover {
  max-width: 22vw;
}
.guide {
  display: flex;
  justify-content: center;
  text-align: center;
}
img {
  display: block;
  max-width: 100vh;
  height: auto;
  object-fit: fill;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1vh;
}
.guide p {
  margin-top: 5vh;
  margin-bottom: 5vh;
  max-width: 100vh;
  margin-left: 8.5vh;
  color: var(--main-color);
}
#top {
  display: flex;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  bottom: 2vh;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
}
.row img {
  max-width: 30vw;
  object-fit: contain;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.links img {
  max-width: 15vw;
}
.links a {
  display: inline-block;
  transition-duration: 500ms;
}
.links a:hover {
  gap: 1vw;
  scale: 1.2;
}
.begrep {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
footer {
  background: var(--third-color);
  opacity: 0.8;
  padding: 2vh 0;
  text-align: center;
}
footer section {
  display: flex;
  justify-content: center;
  gap: 5vh;
  margin-bottom: 20px;
}
footer a {
  margin: 4px 0;
  text-decoration: none;
  color: var(--main-color);
}
footer h5 {
  display: flex;
  justify-content: center;
  margin-top: -1vh;
  font-weight: 100;
  font-size: 14px;
  opacity: 0.7;
}

:root {
  --main-color: #171717;
  --second-color: #e0f4ff;
  --third-color: #ffffff;
}
