body {
  font-family: Arial;
  background-color: var(--second-color);
  margin: 0;
}
header h1 {
  margin: 0;
  padding-left: 3vh;
  padding-top: 3vh;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  margin-right: 10vh;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  gap: 5vh;
}
nav a {
  text-decoration: none;
  color: var(--main-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 6vh;
  margin-top: -1vh;
}
.guide {
  display: flex;
  justify-content: center;
  text-align: center;
}
img {
  display: block;
  max-width: 100vh;
  height: auto;
  object-fit: fill;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1vh;
}
.guide p {
  margin-top: 10vh;
  margin-bottom: 2vh;
  max-width: 120vh;
  color: var(--main-color);
}
footer {
  background: #ffffff;
  opacity: 0.8;
  padding: 2vh 0;
  text-align: center;
}
footer section {
  display: flex;
  justify-content: center;
  gap: 5vh;
  margin-bottom: 20px;
}
footer a {
  margin: 4px 0;
  text-decoration: none;
  color: var(--main-color);
}
footer h5 {
  display: flex;
  justify-content: center;
  margin-top: -1vh;
  font-weight: 100;
  font-size: 14px;
  opacity: 0.7;
}

:root {
  --main-color: #171717;
  --second-color: #e0f4ff;
}
